*{
    margin:0;
    padding:0;
}
.contact-head{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.contact-container{
    display: flex;
    justify-content: center;
    margin: 40px 0;
  
}
.contact-page{
    display: flex;
    gap: 30px;
}

.map-content{
    width:680px;
    height: 350px;
    /* border: 2px solid black; */
}
.street{
    width:680px;
    height: 350px;  
}
.contact_content{
    padding: 90px 0;
}
p{
    font-size: 30px;
}


.home-container{
    display: flex;
    justify-content: center;
    margin: 100px auto;

}
button{
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
    background: rgb(232, 86, 86);
    color: white;
}

@media (max-width:800px) {
    .contact-page{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .contact-page{
        display: flex;
        flex-direction: column;
    }

    .street{
        width:470px;
        height: 350px;  
    }
    p{
        font-size: 30px;
    }
    .map-content{
        width:470px;
        height: 350px;
        /* border: 2px solid black; */
    }
}

